body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212121;
    line-height: 1.6;
    color: white;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: none;
    justify-content: center;
    flex-direction: column;
    background: #4F4D4D;
    width: 50%;
    padding: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,4);
}

.container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container form .data {
    height: 45px;
    width: 100%;
    margin: 20px 0;
}

form .data label {
    font-size: 18px;
}

form .data input {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    font-size: 17px;
    border: 1px solid silver;
}

form .data input:focus {
    border-color: #4158d0;
    border-bottom-width: 2px;
}

form .forgot_password {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-self: start;
}

form .forgot_password a {
    color: #5A70FF;
    text-decoration: none;
}

form .forgot_password a:hover{
    text-decoration: underline;
    color: white;
}

form .btn {
    margin: 30px 0;
    height: 45px;
    width: 100%;
}

form .btn button {
    height: 100%;
    width: 100%;
    background-color: #6b6b6b;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    background-size: 200%;
    transition: all 0.6s;
}

.btn button:hover {
    background-position: center;
}

form .signup-link a{
    color: #5A70FF;
    text-decoration: none;
}

form .signup-link a:hover {
    text-decoration: underline;
    color: white;
}

.container .close-btn {
    align-self: flex-end;
    cursor: pointer;
    color: white;
    font-size: 30px;
}

.container .close-btn:hover {
    color:#5A70FF
}

.show-btn {
    background-color: #6b6b6b;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#show:checked ~ .container {
    display: flex;
}

#show:checked ~ .show-btn {
    display: none;
}

input[type="checkbox"] {
    display: none;
}
